.ticket-container {
  background-image: url('../../assets/mainbg.png');
  background-color: white;
  border-radius: 30px;
  padding: 0 20px;
}

.ticket {
  width: 60%;
  height: auto;
  margin-top: 20px;
}

.ticket-title {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .ticket {
    width: 70%;
  }
}

@media only screen and (min-width: 1042px) {
  .ticket {
    width: 75%;
  }
}

.event-details {
  margin-top: 20px;
  text-align: left;
  font-size: 1rem;
}

.event-details p {
  margin-bottom: 15px;
}

.event-details a {
  color: #ff651c;
  text-decoration: none;
}

.event-details a:hover {
  text-decoration: underline;
}
